@model IEnumerable<Garage_2._0.Models.Entities.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<!-- Start: Adding Search field-->
<form asp-action="SearchByRegNumber" method="get" class="mb-3">
    <label for="search">Search by Registration number:</label>
    <div class="input-group mb-3">
        <input type="text" name="searchField" class="form-control" placeholder="Enter registration number" />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</form>
<!-- End: Adding Search field-->
<p>
    <a asp-action="ParkVehicle">Park Vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArriveTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Wheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArriveTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="CheckOut" asp-route-id="@item.Id">Check Out Vehicle</a>
            </td>
        </tr>
}
    </tbody>
</table>
