@model UnitedIndexViewCollection

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<!-- Start: Adding Search field-->
<form asp-action="SearchByRegNumber" method="get" class="mb-3">
    <label for="search">Search by Registration number:</label>
    <div class="input-group mb-3">
        <input type="text" name="searchField" class="form-control" placeholder="Enter registration number" />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</form>
<!-- End: Adding Search field-->

<!-- Start: Adding Sorting field-->
<div class="mb-3">
    <button onclick="location.href='@Url.Action("SortByDateAscending", "Vehicles")'" class="btn btn-primary">
        Sort by Date Ascending
    </button>
    <button onclick="location.href='@Url.Action("SortByDateDescending", "Vehicles")'" class="btn btn-primary">
        Sort by Date Descending
    </button>
</div>

<!-- End: Adding Sorting field-->

<!-- Start: filter by vehicle type-->
<form asp-action="FilterByVehicleType" method="get" class="mb-3">
    <label for="vehicleType">Filter by Vehicle Type:</label>
    <select name="vehicleType" class="form-select" id="vehicleType">
        <option value="">All Types</option>
        @foreach (var type in Enum.GetValues(typeof(Garage_2._0.VehicleType)))
        {
            <option value="@type">@type</option>
        }
    </select>
    <br />
    <button class="btn btn-primary" type="submit">Filter</button>
</form>
<!-- End: filter by vehicle type-->
<p>
    <a asp-action="ParkVehicle">Park Vehicle</a>
</p>
    
<partial name="_VehicleListPartial" model="@Model.IndexViews"/>
